html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    height: 100vh ;
    width: 100vw ;
    overflow: hidden;
    display: grid;
    grid-template-rows: minmax(0, 1fr) 4fr ;
    gap: 0;
    grid-template-areas:
    "headerall"
    "content";
}

.headerall {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 0 30px;
    grid-area: headerall;
    background-image: url("../pics/mur_eco_5.png");
    background-repeat: no-repeat;
    background-size: 2000px 500px;
    background-position: center; 
    border-bottom: 6px solid black;
}

.logo {
    max-height: 75%; 
    max-width: 75%; 
    height: auto; 
    width: auto;
    display: block;
    margin: 0 ;
}

.insta-group {
    display: flex;
    align-items: center;
    gap: 1vh;
    text-decoration: none;
}

.insta{
    width: 7vh; 
    height: 7vh;
}

.title {
    font-size: 3rem; 
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.964) ;
    margin: 0;
}


header nav ul {
    display: flex ;
    gap: 1.5rem ;
    align-items: center ;
    width: 60%
}

header nav ul li {
    padding: 0.5rem ;
    list-style: none ;
}

header nav ul li a{
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    background-color: rgb(12, 54, 116);
    border: 2px solid black;
    color: rgba(255, 255, 255, 0.964) ;
    border-radius: 40px;
    font-size: 2.5vh ;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

header nav ul li a:hover{
    background-color: rgba(2, 2, 32, 0.933);
    color: rgba(255, 255, 255, 0.896) ;
}

.navbtn{
    position: relative;
    display: inline-block;
}

.hover-gif {
    position: absolute; 
    bottom: 117%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px; 
    height: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    pointer-events: none; 
}

.navbtn:hover .hover-gif {
    opacity: 1;
    visibility: visible; 
}

.content {
    grid-area: content;
    background-image: url("../pics/ville1.jpg");
    background-repeat: no-repeat;
    background-size: 3000px 2000px;
    background-position: center;
}

