html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
}



header {
    height: 100vh ;
    width: 100vw ;
    overflow: hidden;
    display: grid;
    grid-template-rows: minmax(0, 1fr) 4fr ;
    gap: 0;
    grid-template-areas:
    "headerall"
    "content";
}


.content {
    grid-area: content;
    background-color: #18c753;
}


.headerall {
    grid-area: headerall;
    background-color: rgba(48, 113, 235, 0.877)
}

.headerall {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 0 30px; 
}

.headerall img {
    max-height: 75%; 
    max-width: 75%; 
    height: auto; 
    width: auto;
    display: block;
    margin: 0 ;
}

.headerall {
    grid-area: headerall;
    background-image: url("../pics/mur_eco_5.jpg");
    background-repeat: no-repeat;
    background-size: 2000px 500px;
    background-position: center;
}

.content {
    grid-area: content;
    background-image: url("../pics/ville1.jpg");
    background-repeat: no-repeat;
    background-size: 3000px 2000px;
    background-position: center;
}

header nav ul {
    display: flex ;
    gap: 1.5rem ;
    align-items: center ;
    width: 60%
}

header nav ul li {
    padding: 1rem ;
    list-style: none ;
    flex: 1 ;
    border-radius: 40px ;
}

header nav ul li a {
    text-decoration: none ;
    font-size: 2.5vh ;
    color: white ;
    white-space: nowrap;
}


