html, body{
    margin: 0;
    padding: 0;
    height: 200vh;
}



header {
    height: 200vh ;
    width: 100vw ;
    overflow: hidden ;
    display: grid;
    grid-template-rows: minmax(0, 0.5fr) 4fr 0.2fr;
    gap: 0;
    grid-template-areas:
    "headerall"
    "content"
    "footer";
}

.headerall img {
    max-height: 75%; 
    max-width: 75%; 
    height: auto; 
    width: auto;
    display: block;
    margin: 0 ;
}

.content {
    grid-area: content;
    background-color: #18c753;
}

.headerall {
    grid-area: headerall;
    background-color: #6ca5df;
}

header nav ul {
    display: flex ;
    gap: 1.5rem ;
    align-items: center ;
    width: 60%
}

.footer {
    grid-area: footer;
    background-color: #F54927;
}
