.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
}

#img_sessions {
    margin: 4vh;
    width: 38vw;
}

#title {
    color: #fff;
    font-size: 1.8vw;
    padding-left: 1.5vw;
    margin-bottom: 1.5vh;
    margin-top: 6vh;
}

#texte, #icone {
    color: #ffffff;
}

#texte {
    font-size: 1.5vw;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}

#icone {
    font-size: 4vh;
    margin-top: 4VH;
}


.content #texte_sessions{
    position: relative;
    height: 58% ;
    width: 80% ;
    background-color: rgba(22, 77, 90, 0.5);
    overflow: hidden;
    padding: 2%;
}

.titre-icone-wrap {
    display: flex;
    flex-direction: row;
    align-items: center; 
}